<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">TechJobs</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/search}">Search</a></li>
                <li><a th:href="@{/list}">List</a></li>
            </ul>
        </div>
    </div>
</div>

<div th:fragment="job-table">
    <th:block th:each="job : ${jobs}">
        <table class="job-listing">
            <!--            <tbody>-->
            <tr>
                <th>ID</th>
                <td th:text="${job.id}">ID</td>
            </tr>
            <tr>
                <th style="text-align: left;">Name</th>
                <td th:text="${job.name}">Name</td>
            </tr>
            <tr>
                <th style="text-align: left;">Employer</th>
                <td th:text="${job.employer}">Employer</td>
            </tr>
            <tr>
                <th style="text-align: left;">Location</th>
                <td th:text="${job.location}">Location</td>
            </tr>
            <tr>
                <th style="text-align: left;">Position Type</th>
                <td th:text="${job.positionType}">Position Type</td>
            </tr>
            <tr>
                <th style="text-align: left;">Skill</th>
                <td th:text="${job.coreCompetency}">Skill</td>
            </tr>
            <!--            </tbody>-->
        </table>
    </th:block>
</div>

</body>
</html>
